/* Estilizando os quadrados de cores da pagina*/
.amarelo{
    margin-top: 1%;
    width: 10px;
    height: 20px;
    padding: 5%;
    background-color: rgb(255, 208, 0);
}
.azul{
    width:10px;
    height: 20px;
    padding: 5%;
    background-color: rgb(15, 130, 207)
}
.rosa{
   
    width:10px;
    height: 20px;
    padding: 5%;
    background-color: rgb(255, 0, 119);
}
.verde{
    margin-top: 1%;
    width: 10px;
    height: 20px;
    padding: 5%;
    background-color: rgb(0, 128, 96);
   
}

.Quad .quad {
    display: flex;
    margin-left: 40%;
    padding-bottom: 5%;
    flex-wrap: wrap;
    
}


